@import "../variables";

$headerW : calc($w - (2 * ($w / 10)));

.header {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: {
		left: calc($w / 10);
		top: 25px;
		right: calc($w / 10);
	};
	height: fit-content;
	width: $headerW;

	> * {
		display: flex;
		flex-direction: row;
		column-gap: calc($headerW / 60);
	}

	img {
		height: calc(100vh / 18);
	}
}