@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "../variables";

.headerButton {
	text-align: center;
	font-family: 'Inter', sans-serif;
	color: white;
	font-size: calc(100vw / 90);
	font-weight: 700;
	height: calc(100% - 6px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 3px solid $red;
	background: $red;
	padding: 0 calc(100vw / 40);
	border-radius: 10px;
	transition-duration: 0.3s;
	cursor: pointer;
	overflow-x: unset;
}

.headerButton:hover {
	background-color: $redAccent;
	border-color: $redAccent;
	color: white;
}