@import "../../variables";

.title-page {
  margin: {
    top: calc(100vh / 18 + 7.5vh);
    bottom: 7.5vh;
  }
  width: 100%;
  text-align: center;
  color: white;
}

.projects {
  margin: {
	bottom: 10vh;
	left: 10vw;
  }

  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  column-gap: 10vw;
  row-gap: 10vh;
}
